@import '@materials/questions/common/css/default.scss';

.explain {
  line-height: 0.48rem;
  font-size: 0.24rem;
  color: #92949d;
  padding: 0 0.4rem;
}

.radio-star {
  &.isPc {
    margin-bottom: 0.2rem;
  }
}

.qicon {
  // color: #e3e4e8;
  &.on {
    color: $primary-color;
  }
  &.off {
    color: #e3e4e8;
  }
}


.star-ratings-explanation {
  display: flex;
  justify-content: space-between; /* 等距分布各个项目 */
  margin: 0.2rem 0;
  width: 100%;
  
  .rating-explain-item {
    flex: 1; /* 每个项目占据相等的空间 */
    display: flex;
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中 */
    padding: 0.1rem 0.05rem;
    
    &.active {
      .rating-text {
        color: $primary-color;
        font-weight: bold;
      }
    }
    
    .rating-text {
      font-size: 0.22rem;
      color: #92949d;
      text-align: center; /* 文本居中 */
      width: 100%; /* 让文本占满整个容器宽度 */
      word-wrap: break-word; /* 允许长文本换行 */
    }
  }
}